.footer {
    background-color: azure;
    height: 100px;
    margin-top: 100px;
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px 0;
    font-family: sans-serif;
    border-top: 1px solid #333;
  }
  
  .container{
    display: flex;
  }
  
  .social-icon{
    margin-left: 20px;
    font-size: 24px;
  }
  
  .thoraNeeche{
    margin-top: 5px;
    font-weight: bold;
  }
  
  .end{
    display: flex;
    margin-left: 77px;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  